{% import_yaml "nano/defaults.yaml" as defaults %}
{% import_yaml "nano/osfamilymap.yaml" as os_familymap %}

{% set nano = salt['grains.filter_by']({
    defaults,
    merge=salt['grains.filter_by'](
        os_familymap,
        merge=salt['pillar.get']('nano:lookup', {}),
    ),
    base='nano')
%}
